.bg-fav{
	background-color: aliceblue;
}
.font-fav{
	font-family: 'Baloo Tammudu 2', cursive;
}
.font-google{
	font-family: 'Roboto', sans-serif;
}
.font-space{
	font-family: 'Orbitron', sans-serif;
}